<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h1> <%= @campaign.campaign_id %> </h1>
<p><b>Total Votes: </b>  <%= @campaign.total_votes %>   </p>
<p><b>Invalid Votes: </b>  <%= @campaign.total_bad_votes %>   </p>
<table>
  <tr>
    <th> Candidate Name </th>
    <th> Votes </th>
  </tr>

  <% @campaign.candidates.each do |candidate| %>
    <tr>
      <td> <%= candidate.name %> </td>
      <td> <%= candidate.votes %> </td>
    </tr>
  <% end %>
</table>